<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guessing GAME</title>
    <style>
        button {
            margin: 10px auto;
            min-width: 150px;
            min-height: 35px;
            font-size: 17px;
        }
        .box {
            text-align: center;
            margin: 50px auto;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>GUESSING GAME</h1>

        <h2>I guess {{ guess }}, it is right?</h2>

        <form action="/too_low" method="POST">
            <button type="submit">TOO LOW</button>
        </form>

        <form action="/too_high" method="POST">
            <button type="submit">TOO HIGH</button>
        </form>

        <form action="/you_win" method="POST">
            <button type="submit">YOU WIN</button>
        </form>
    </div>
</body>
</html>