<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guessing GAME</title>
</head>
<body>
    <h1>LET'S PLAY A GUESSING GAME!</h1>

    <p>PRAVIDLA: Mysli na číslo od 0 do 1000. Pak mi řekni, jestli jsem číslo
        uhodnul nebo jestli je moje číslo příliš nízké nebo příliš vysoké.
    </p>

    <form action="/", method="POST">
        <button type="submit">START TO PLAY</button>
    </form>
    
</body>
</html>